* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 245, 233);
}
ul {
  list-style: none;
}
/* .text-white {
  color: white;
} */
.links {
  text-decoration: none; /*remove underline from bootstrap Link tag*/
  /*maybe change color of text and add on hover effect(?)*/
}
.site-container {
  min-height: 100vh;
}
.position-relative {
  position: relative;
}

main {
  flex: 1; /*this with min height of its parent will push footer sibling on the bottom*/
}
/*The home image intro*/
/* .home__intro {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.home__image {
  flex: 7;
  height: 80vh;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.home__text {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
} */
/**/
/* .btn-primary {
  background-color: #f0c040;
  color: #000000; 
  border: none;
} */

.btn-outline-dark {
  font-weight: 600;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.rating span {
  color: #ffc000; /*make stars gold*/
}

.product {
  border: 1px #404040 solid;
  /* margin: 1rem; */
}
.product img {
  width: 100%;
  max-width: 340px;
}
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.product-info a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
/* .spinner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
/* must fix spinner allign center */
.height {
  height: 90vh;
  object-fit: cover;
  object-position: center top;
}
.caption-color {
  padding: 20px;
  background: rgba(255, 255, 255, 0.521);
  color: black;
}
.caption-color h3 {
  font-size: 1.8rem;
  padding: 10px;
}
.caption-color p {
  font-size: 1.2rem;
}
.caption-color .btn {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  padding-top: 20px;
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  /* background-color: #100901; */
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
