* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.links {
  text-decoration: none; /*remove underline from bootstrap Link tag*/
  /*maybe change color of text and add on hover effect(?)*/
}
.site-container {
  min-height: 100vh;
}

main {
  flex: 1; /*this with min height of its parent will push footer sibling on the bottom*/
}

.btn-primary {
  background-color: #f0c040;
  color: #000000; /*maybe change up colors of cart btn*/
  border: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.rating span {
  color: #ffc000; /*make stars gold*/
}

.product {
  border: 1px #404040 solid;
  /* margin: 1rem; */
}
.product img {
  width: 100%;
  max-width: 340px;
}
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.product-info a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
/* .spinner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
/* must fix spinner allign center */
